.body {
    padding: 20px;
    display: flex;
    flex-direction: column; /* Se você quiser que os elementos sejam empilhados verticalmente */
    height: 100vh;
    margin-left: 315px;
    position: relative; /* Necessário para a posição absoluta do btn-container */
}

.fotos-container .teste {
    padding: 10px;
}

.fotos-1 {
    display: flex;
    gap: 10px;
}

.fotos-2 {
    display: flex;
    gap: 10px;
}

.teste {
    width: 700px;
    word-wrap: break-word;

    margin: 25px;
}

.btn-gostei {
    display: flex;
    gap: 25px;
    padding: 25px;
}

.fotos-container {
    padding: 10px;
    width: 550px;
    height: 350px;

}

.fotos-container1 {

    margin-top: 280px;
    padding-left: 10px;

}

.farmacia-teste {
    width: 500px;
    height: 500px;
}

.btn-preferencial{
    width: 100px;
    background-color: rgb(251, 255, 255);
}
.btn-normal{
    width: 100px;
    background-color: rgb(251, 255, 255);
}
.btn-senha{
    width: 100px;
    background-color: rgb(251, 255, 255);
}


.btn-container {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 20px; /* Ajusta a distância da borda direita da tela */
    bottom: 20px; /* Ajusta a distância da borda inferior, se necessário */
    padding: 20px;
    border: 2px solid #000; /* Cria a caixa ao redor do botão */
    border-radius: 5px; /* Opcional: adiciona bordas arredondadas */
}